* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size:16px;
    width:100vw;
    display: flex;
    flex-direction: row;
}

.manage-task-field, .display-task-field{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-top: 50px;
}

.manage-task-field {
    align-items: baseline;
    padding-left: 50px;
}

.display-task-field {
    align-items: center;
    padding-right: 10px;
}

.manage-task-field *{
    margin-bottom: 10px;
}

.input {
    display:flex;
    align-items: center;
}

.input p {
    margin-right:10px;
}

.input input {
    width: 15rem;
    height: 2rem;
    border:1px solid #333;
    border-radius: 20px;
    padding:10px;
    outline: #333;
    font-size: 12px;
    caret-color: #333;
}

.input select {
    width: 10rem;
    height: 2rem;
    outline: #333;
}

.manage-task-field button {
    padding:0.5rem;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.manage-task-field button:hover {
    border-color: #333;
}

.task {
    color:#fff;
    width:15rem;
    height:2.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

